/*Login*/
.login{
	font-family: 'Coda', sans-serif;
}

/*Balance*/

.balance {
	font-family: 'Coda', sans-serif;
	font-size: 1.5em;
}

.total {
	font-family: 'Cutive', serif;
	font-size: .75em;
}

/*Announcements*/
.announcements{
	font-family: 'Cutive', serif;
	font-size: .75em;
}

.date{
	font-family: 'Coda', sans-serif;
	font-size: 1.5em;
}

.annoucements img{
	border-radius: 10px;
}

a:link{
	text-decoration: none;
	color: #85361E;
}

a:hover, 
a:active {
	text-decoration: none;
	color: #043826;
}

a:visited {
	text-decoration: line-through;
	color: #911A31;
}

/*Email*/

.email .inline{
	font-family: 'Coda', sans-serif;
	font-size: 1.5em;
}

.email .field{
	font-family: 'Cutive', serif;
	font-size: .75em;
}

.email .ui .primary{
	background-color: #911A31;
}

.email .ui .button:hover,{
	background-color: #000;
}

/*Calendar*/

.calendar {
	font-family: 'Coda', sans-serif;
	font-size: 1.5em;
}

.calendar tbody{
	font-family: 'Cutive', serif;
	font-size: .75em;
}







































