/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 2px solid #595959;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	border-radius: 10px;
}

/*Style Tyle for Michael Viehouser*/
body{
	background: url("../img/moulin.png");
}

.container{
	background-color: rgba(255, 255, 255, .75);
	border-radius: 10px;
}

.color-1{
	background: #85361E;
}

.color-2{
	background: #911A31;
}

.color-3{
	background: #043826;
}

.pattern-1{
	background: url("../img/escheresque.png");
}

.pattern-2{
	background: url("../img/moulin.png");
}

.pattern-3{
	background: url("../img/smallsteps.png");
}

.image img{
	background: url("../img/p1-persona.jpg") no-repeat;
	width: 100%;
	border-radius: 10px;
}

h1, 
h2, 
h3, 
h4 {
	font-family: 'Coda', sans-serif;
}

p{
	font-family: 'Cutive', serif;
}

em{
	font-family: 'Merriweather Sans', sans-serif;
}

a:link{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: #043826;
	background-color: rgba(4, 56, 38, .2);
}

a:visited{
	text-decoration: line-through;
	color: #911A31
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}